@tailwind base;

@layer base {
}

@tailwind components;
@tailwind utilities;

svg {
    fill: currentColor !important;
    stroke: currentColor !important;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: url("/assets/fonts/Gilroy/Gilroy-ExtraBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("/assets/fonts/Gilroy/Gilroy-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-style: normal;
}

/* @font-face {
	font-family: 'Gilroy';
	src: url('../assets/Museo-Sans/MuseoSans_300.otf');
	font-weight: 300;
	font-style: normal;
} */

* {
    font-family: Gilroy;
    scroll-behavior: smooth;
}

a {
    @apply focus:ring-offset-0 focus:ring-0 focus:outline-none;
}
